<h2>Welcome to our app</h2>
<ul>
  <li>{{#link-to 'index'}}Home{{/link-to}}</li>
  <li>{{#link-to 'about'}}About{{/link-to}}</li>
  <li>{{#link-to 'services'}}Services{{/link-to}}</li>
  <li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
</ul>
{{outlet}}